{
  "apiKey": "GOOGLE_API_KEY",
  "authDomain": "GOOGLE_API_AUTH_DOMAIN",
  "databaseURL": "GOOGLE_FIREBASE_DB_URL",
  "projectId": "GOOGLE_PROJECT_ID",
  "storageBucket": "GOOGLE_STORAGE_BUCKET",
  "messagingSenderId": "GOOGLE_MESSAGING_SENDER_ID"
}
