extends layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic')
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Arima+Madurai|Dancing+Script|Lobster|Lora|Roboto+Slab')
	link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

block content
	#app
		#man
			#eye-l
			#eye-r
			#nose
			#mouth
		#wall chờ chờ tí ...

block scripts
	script(src='/tkg/vendor.js')
	script(src='/assets/js/jquery.min.js')
	script(src='/assets/js/jquery.dropotron.min.js')
	script(src='/assets/js/jquery.scrollgress.min.js')
	script(src='/assets/js/skel.min.js')
	script(src='/tkg/app.js')